{
  "presets": [
    ["es2015", { "loose": true, "modules": false }]
  ],
  "sourceMaps": true,
  "plugins": ["external-helpers"]
  //"ignore": ["dist/*.js", "lib/**/*.js"]
  //"exclude": "node_modules/**"
}
/*
{
  "plugins": ["external-helpers"]
}*/
