<h3 class="additionalData-table-title">Additional Data</h3>
<table class="additionalData-table" width="100%">
    <tbody>
        {{#each test.treeOfKey}}
            <tr>
                <td>{{name}}</td>
                <td>{{value}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
<h3 class="additionalData-table-title">Dependent Files</h3>
<table class="additionalData-table" width="100%">
    <tbody>
    {{#each test.models}}
    <tr><td><a href= ../data/{{this.url}}>{{this.title}}</a></td></tr>
    {{/each}}

    </tbody>
</table>

